<div style="display: flex;">

    <!-- <jqxKnob [value]="60" [min]="0" [max]="100" [startAngle]="120" [height]="20" [width]="20" [endAngle]="480"
        [snapToStep]="true" [rotation]="'clockwise'" [marks]="marks" [labels]="labels" [progressBar]="progressBar"
        [pointer]="pointer" (onChange)="onvolchange($event)">
    </jqxKnob> -->
    <jqxKnob [value]="60" [min]="0" [max]="100" [startAngle]="120" [height]="50" [width]="50" [endAngle]="480"
        [snapToStep]="true" [rotation]="'clockwise'" [marks]="marks" [labels]="labels" [progressBar]="progressBar"
        [pointer]="pointer" (onChange)="onvolchange($event)">
    </jqxKnob>
</div>
<!-- <jqxKnob
    [value]="60" [min]="0" [max]="100" [startAngle]="120"
    [endAngle]="480" [snapToStep]="true" [rotation]="'clockwise'"
    [marks]="marks" [labels]="labels" [progressBar]="progressBar" [pointer]="pointer"
    (onChange)="onvolchange($event)">
</jqxKnob> -->